html{
  min-height: 100%;
  position: relative;
}
body{
  background: #eee;
  height: 100%;
  font-family:  Roboto;
}
#header{
background: #ffffff;
box-shadow: 0 0 5px #676767;
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: none;
  color: #000000;
}
.navbar{
  padding-top: 20px;
}
.navbar .logo{
  color: #368066;
  font-weight: 900;
  font-family: sans-serif;
  font-size: 30px;
}.nav-drop .fa{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.dropdown-menu{
  border: 0;
}
.nav-drop .rounded-circle{
  width: 11%;
  margin-left: 15px;
  margin-right: 20px;
}
.nav-drop .nav-profile{
  margin-right: -150px;
}
.ml-auto .nav-item{
  margin-right: 20px;
}

.form-inline{
  margin-left: 70px;
  padding: 0 30px;
}
.my-link{
  display: block;
}
a.login{
  text-decoration: none;
  background-color: #368066;
  border: 1px solid #368066;
  padding: 3px 22px;
  color: #ffffff !important;
  margin-left: -15px !important;
}
a.register{
  text-decoration: none;
  color: #368066 !important;
  border: 1px solid #368066;
  padding: 3px 35px;
  margin-right: 20px;
}
a.register:hover{
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #368066;
  color: #368066;
}
a.login:hover{

  text-decoration: none;
    background-color: #368066;
    border: 1px solid #368066;
    color: #fff !important;
}

#loginbox{
  margin-left: 255px;
  margin-top: 175px;
  }
  
  .pass-forget{
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px;
  }
  .panel .panel-heading{
    font-size:25px;
  }
  .panel-title{
    margin-bottom: -20px;
  }
  .panel-body{
  padding-top:30px
  }
  #login-alert{
  display: none;
  }
  .input-top{
  margin-bottom: 25px;
  }
  .hr-line{
   border-top: 1px solid#888; padding-top:15px; font-size:85%; 
   }
   
   #signupbox{
   display:none;
   margin-left: 255px;
  margin-top: 175px;
   }
   .signinbutton{
   float:right; font-size: 85%; position: relative; top:-10px;
   }
   #signupalert{
   display:none
   }
   
   .or{
   margin-left:8px;
   }
   
   .hr-last{
   border-top: 1px solid #999; padding-top:20px
   }
.intro .h4{
  padding: 20px 0;
  font-size: 15px;
}
.intro .intro-title{
  padding: 0 15px;
}

.mainLoginInput{
    height: 45px;
    font-size: 15px;
    background: #F2F2F2;
    margin-left: 100px;
    width: 400px;
}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #00000071;
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #000000;

}
.mainLoginInput:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  }

.intro-title a{
  color: #000000;
  text-decoration: none;
}
.intro-title a:hover{
  background: #ffffff;
  color: #368066;
}
/*page cours*/
.all-courses{
  margin-top: -10px;
}
.all-courses .cours-title, .all-courses .cours-desc{
  margin: 0 15px;
  
}

.all-courses .cours-desc{
  font-size: 15px;
  margin-top: 0.5rem;
}
.all-courses, .quiz-page{

  padding: 20px 0;

}
.all-courses hr{
    width: 200px;
    border: 2px solid #F2F2FA;
    margin-left: 20px;
}
#cours-pop, .quiz-page{
  padding: 20px 0;
}

#cours-new{
  padding: 20px 0;
}
.all-courses .cours-item{
  padding: 0px 0px;
    margin: 0px 15px;
    box-shadow: 0 0 10px #ccc;
    background: #ffffff;
}
.all-courses .popular, .new{
  margin-bottom: 25px;
}
.all-courses .download{
  margin: 10px 0;
  margin-top: -10px;
}

.all-courses .download .btn:hover{
  background: #368066;
  color: #fff;
}
.all-courses .btn-outline-success{
  color: #368066 !important;
  border: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  
}
.all-courses .btn-outline-success:hover{
  color: #ffffff !important;
  
}
.all-courses .cours-container{
  margin: 0 20px;
  padding: 0 10px;
}
/* page quiz*/
.quiz-page .quiz-desc{
  font-size: 25px;
  padding: 15px 0;
  margin: 15px 0;
  margin-bottom: -50px;
}
.evaluation{
  padding: 30px 0;
  font-size: 25px;
  font-weight: 700;
  color:#368066;
  
}
.evaluation a{
  color:#368066;
}
.quizes{
  background: #ffffff;
}
.quizes .quiz-page{
  margin: 0 60px;
}
.quiz-page .reponse{
  padding: 20px 30px;
 font-size: 25px;
 font-weight: bold;
 border: 3px solid #368066;
 border-radius: 10px;
 margin-top: 50px;
 /*margin-bottom: 70px;*/
}
.quiz-page .reponse .a, .b, .c, .d{
  background: #f10;
    color: #ffff;
    border-radius: 10px;
    font-weight: 400;
    padding: 10px 15px;
    cursor: pointer;
}
.quiz-page .reponse:hover{
  background: #F2F2F2;
  color: #368066
}
.quiz-page .reponse .b{
  background: rgb(0, 180, 0);
  color: #ffff;
}
.quiz-page .reponse .c{
  background: rgb(255, 1, 213);
  color: #ffff;
}
.quiz-page .reponse .d{
  background: rgb(25, 0, 250);
  color: #ffff;
}
.quiz-page .reponse-item{
  margin-left: 50px;
}
.quiz-desc .row{
  padding: 0px 20px;
    margin: 15px 20px;
}
.quiz-page .quiz-submit .btn-success{
  background-color:#368066;
  color: #fff;
  border-radius: 0px;
  width: 300px;
  margin-top: 80px;
  font-weight: bold;
}
.quiz-page .quiz-submit .btn-success:hover{
  background-color:#ffffff;
  color: #368066;
   width: 300px;
  margin-top: 80px;
}

/*page dashboard*/

.dashboard{
  margin-top: 40px;
}
.dashboard .progress{
  width:70%; border-radius: 50px;
}
.dash-page{
  background: #ffffff;
}
.dash-page .mybtn{
  color: #ffaa00;
}
.mybtn{
  float: right;
  margin-top: -29px;
  font-weight: bold;
  font-size: 20px;
  color: #368066;
  background: transparent;
  padding: 5px 40px;
  border-radius: 50px;
  border: 1px solid #368066;
}
.mybtn:hover{
  color: #ffffff;
  background: #368066;
  border: 1px solid #368066;
}
.dash-page .btn-finish{
  color: #368066;
}
.btn-finish:hover{
  color: #ffffff;
  border: 1px solid #368066;
}
.dash-page .prog{
  padding: 5px 0;
  margin-bottom: -45px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
}
.dash-page .prog span{
  margin-top: -15px;
}

.dash-item-title{
  font-weight: bold;
  font-size: 30px;
  margin-top: -10px;
}
.dash-item-desc{
  font-size: 20px;
  margin: 10px 0;
}
.progress{
  margin-top: 70px;
}
.progress-bar{
  background: #368066;
}

/*page profile*/
.nav-profile{
  color: #000000 !important;
}
.profiles{
  margin-top: 40px;
background: #fff;
}
.profiles .user-image{
  padding: 0px 20px;
  height: 300px;
  margin: 30px 0;
  width: 80%;
  padding-bottom: 30px;
}
.profiles .user{
  margin-left: -90px;
  margin-top: 25px;
}
.profiles .user-profession{
  font-size: 24px;
    letter-spacing: 0.5px;
}
/*tabs*/
.nav-tabs {
  margin-bottom: 1rem;
}
.tabs{
  padding: 40px 0;
  background: #ffffff;
}
.cv-title{
  font-size: 22px;
  margin-left: 40px;
  font-weight: 400;
}
.cv-detail{
      margin-top: 50px;
      font-size: 20px;
}
/*Portfolio*/
.gallery-block.grid-gallery{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
.footer{
  padding: 25px 0;
  padding-bottom: 10px;
}

/*
la responsivite
*/


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 /*page cours*/
 .mr-auto{
  margin: -5px -120px;
}
.ml-auto .nav-item{
margin: 4px 0;
margin-right: 30px;
}.navbar-light .navbar-nav .my-link{
padding-left: 5px;
}
.nav-drop{
  margin-left: 8px !important;
  padding-left: -5px !important;
  margin-right: 100px !important;
}
.nav-drop .fa{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.ml-auto .nav-reg{
  margin-right: -5px;
}
.ml-auto .nav-log{
  margin-left: 15px;
  margin-right: 15px;
}
a.register, a.login{
text-decoration: none;
border: 1px solid #368066;
padding: 5px 0;
}
a.login{
color: #ffffff !important;
}
a .register{
  /*margin-right: 130px !important;*/
  margin-right: 30px !important;
}
.mybtn{
  padding: 0px 10px;
  border-radius: 50px;
  /* margin-bottom: 3px; */
  padding-bottom: 2px;
}
.mainLoginInput{
height: auto;
padding: 5px 0px;
margin-bottom: 5px;
margin-left: -15px;
width: 285px;
}
/*page quiz*/

.quiz-desc .row{
padding: 0 0;
margin:  0 0;
}.evaluation{
  padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #368066;
}.quizes .quiz-page{
  margin: -3px -10px;
}
.quiz-page .reponse{
  margin: 10px -10px;
  padding: 5px 5px;
  /* margin: 20px 6px; */
  /* margin-bottom: 0; */
}
.quiz-page .reponse .a, .b, .c, .d{
  padding: 3px 7px;
  border-radius: 10px;
}
.quiz-page .reponse-item{
  margin-left: 10px;
}
.quiz-page .quiz-desc{
  font-size: 18px;
  /* padding: 10px 0px; */
  margin-bottom: -15px;
  margin-top: -10px;
  margin-left: -6px;
  margin-right: -3px;
}
.quiz-page .quiz-submit .btn-success{
  width: 170px;
    margin-top: 30px;
    font-weight: bold;
    /* padding: 2px 17px; */
    margin-left: -15px;
    font-size: 18px;
    padding: 4px 5px;
}/*page dashboard*/
.dashboard .progress{
  width:60%;
}
.profiles .user-image{
  padding: 0px 20px;
  height: 300px;
  margin: 30px 0;
  width: 100%;
}.profiles .user{
  margin-left: 4px;
  margin-top: 25px;
  text-align: center;
}
  }