html{
  min-height: 100%;
  position: relative;
}
body{
  background: #eee;
  height: 100%;
  font-family:  Roboto;
}
#header{
background: #ffffff;
box-shadow: 0 0 5px #676767;
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: none;
  color: #000000;
}
.navbar{
  padding-top: 20px;
}
.navbar .logo{
  color: #368066;
  font-weight: 900;
  font-family: sans-serif;
  font-size: 30px;
}
.ml-auto .nav-item{
  margin-right: 20px;
}
.form-inline{
  margin-left: 70px;
  padding: 0 30px;
}
.my-link{
  display: block;
}
a.login{
    text-decoration: none;
    background-color: #368066;
    border: 1px solid #368066;
    padding: 8px 20px;
    color: #ffffff !important; 
}
a.register{
  text-decoration: none;
  color: #368066 !important;
  border: 1px solid #368066;
  padding: 8px 35px;
}
a.register:hover{
    text-decoration: none;
    background-color: #368066;
    border: 1px solid #368066;
    color: #fff;
}
a.login:hover{
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #368066;
  color: #368066;
}

#loginbox{
  margin-top:50px;
  }
  
  .pass-forget{
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px;
  }
  .panel-body{
  padding-top:30px
  }
  #login-alert{
  display: none;
  }
  .input-top{
  margin-bottom: 25px;
  }
  .hr-line{
   border-top: 1px solid#888; padding-top:15px; font-size:85%; 
   }
   
   #signupbox{
   display:none; margin-top:50px;
   }
   .signinbutton{
   float:right; font-size: 85%; position: relative; top:-10px;
   }
   #signupalert{
   display:none
   }
   
   .or{
   margin-left:8px;
   }
   
   .hr-last{
   border-top: 1px solid #999; padding-top:20px
   }
.intro .h4{
  padding: 20px 0;
  font-size: 15px;
}
.intro .intro-title{
  padding: 0 15px;
}

.mainLoginInput{
  height: 45px;
    font-size: 15px;
    background: #F2F2F2;
    margin-left: 100px;
    width: 400px;
}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #00000071;
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #000000;

}
.mainLoginInput:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  }
*/
/*
.search-box {
  width: 470px;
  cursor: pointer;
  margin: 0 auto;
  border: .5px solid rgb(232, 238, 241);
  border-radius: 10px;
  color: rgb(119, 126, 128);
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #eeeeef;
  padding: 7px 10px;
  text-align: center;
}

.search-icon {
  width: 250px;
  padding: 5px;
  border-radius: 24px;
  float: right;
}
.inner-addon { 
  position: relative; 
}
/* style icon 
.inner-addon .fa-search {
  position: absolute;
  padding: 11px 11px;
  pointer-events: none;
  margin-left: 10px;

}
.left-addon .fa-search  { left:  0px;}
/*.right-addon .fa-search { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input {     padding-right: 290px; }
*/

.intro-title a{
  color: #000000;
  text-decoration: none;
}
.intro-title a:hover{
  background: #ffffff;
  color: #368066;
}
/*page cours*/
.all-courses{
  margin-top: -10px;
}
.all-courses .cours-title, .all-courses .cours-desc{
  margin: 0 15px;
  
}

.all-courses .cours-desc{
  font-size: 15px;
  margin-top: 0.5rem;
}
.all-courses, .quiz-page{

  padding: 20px 0;

}
.all-courses hr{
    width: 200px;
    border: 2px solid #F2F2FA;
    margin-left: 20px;
}
#cours-pop, .quiz-page{
  padding: 20px 0;
}

#cours-new{
  padding: 20px 0;
}
.all-courses .cours-item{
  padding: 0px 5px;
    margin: 0px 15px;
    box-shadow: 0 0 10px #ccc;
    background: #ffffff;
}
.all-courses .popular, .new{
  margin-bottom: 25px;
}
.all-courses .download{
  margin: 10px 0;
}

.all-courses .download .btn:hover{
  background: #368066;
  color: #fff;
}
.all-courses .btn-outline-success{
  color: #368066 !important;
  border: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  
}
.all-courses .btn-outline-success:hover{
  color: #ffffff !important;
  
}
.all-courses .cours-container{
  margin: 0 20px;
  padding: 0 10px;
}
/* page quiz*/
.quiz-page .quiz-desc{
  font-size: 30px;
  padding: 15px 0;
  margin: 15px 0;
  margin-bottom: -50px;
}
.evaluation{
  padding: 30px 0;
  font-size: 25px;
  font-weight: 700;
  color:#368066;
  
}
.evaluation a{
  color:#368066;
}

.quiz-page .reponse{
  padding: 25px 25px;
 font-size: 30px;
 font-weight: bold;
 border: 3px solid #368066;
 border-radius: 10px;
 margin-top: 50px;
 /*margin-bottom: 70px;*/
}
.quiz-page .reponse .a, .b, .c, .d{
  background: #f10;
    color: #ffff;
    border-radius: 10px;
    font-weight: 400;
    padding: 3px 5px;
}
.quiz-page .reponse .b{
  background: rgb(0, 180, 0);
  color: #ffff;
}
.quiz-page .reponse .c{
  background: rgb(255, 1, 213);
  color: #ffff;
}
.quiz-page .reponse .d{
  background: rgb(25, 0, 250);
  color: #ffff;
}
.quiz-page .reponse-item{
  margin-left: 50px;
}
.quiz-desc .row{
  padding: 0px 20px;
    margin: 15px 20px;
}
.quiz-page .quiz-submit .btn-success{
  background-color:#368066;
  color: #fff;
  border-radius: 50px; 
  width: 300px;
  margin-top: 80px;
  font-weight: bold;
}
.quiz-page .quiz-submit .btn-success:hover{
  background-color:#ffffff;
  color: #368066;
  border-radius: 50px;
   width: 300px;
  margin-top: 80px;
}

/*page dashboard*/

.dashboard{
  margin-top: 40px;
}
.dash-page{
  background: #ffffff;
}
.dash-page .mybtn{
  color: #ffaa00;
}
.mybtn{
  float: right;
  margin-top: -29px;
  font-weight: bold;
  font-size: 20px;
  color: #368066;
  background: transparent;
  padding: 5px 40px;
  border-radius: 50px;
  border: 1px solid #368066;
}
.mybtn:hover{
  color: #ffffff;
  background: #368066;
  border: 1px solid #368066;
}
.dash-page .btn-finish{
  color: #368066;
}
.btn-finish:hover{
  color: #ffffff;
  border: 1px solid #368066;
}
.dash-page .prog{
      padding: 15px 0;
      margin-bottom: 0px;
      margin-top: -20px;
}


.dash-item-title{
  font-weight: bold;
  font-size: 30px;
  margin-top: -10px;
}
.prog{
  font-size: 20px;
  font-weight: bold;
}
.progress-bar{
  background: #368066;
}

/*page profile*/
.profiles{
  margin-top: 40px;
background: #fff;
}
.profiles .user-image{
padding: 0px 35px;
height: 300px;
margin: 30px 0;
}
.profiles .user{
margin-left: -30px;
margin-top: 25px;
}
.footer{
  padding: 25px 0;
  padding-bottom: 10px;
}

/*
la responsivite
*/

@media(max-width:991px){
  /*page cours*/
  .mr-auto{
    margin: -5px -120px;
}

.ml-auto .nav-item{
  margin: 4px 0;
  margin-right: 30px;
}.navbar-light .navbar-nav .my-link{
  padding-left: 5px;
}
.ml-auto .nav-reg{
  margin-right: 0px;
}
.ml-auto .nav-log{
margin-left: -20px;
margin-right: 30px;
}
a.register, a.login{
  text-decoration: none;

  border: 1px solid #368066;
  padding: 5px 35px;
  
}a.login{
  color: #ffffff !important;
}.mybtn{
  padding: 2px 3px;
}
.mainLoginInput{
  height: auto;
  padding: 5px 0px;
  /* margin: 5px 0px; */
  margin-bottom: 5px;
  /* margin-left: 60px; */
  margin-left: -15px;
}
/*page quiz*/

.quiz-desc .row{
  padding: 0 0;
  margin:  0 0;
}
.quiz-page .reponse{
  padding: 0px 5px;
    /* margin: 20px 6px; */
    margin-bottom: 0;
}
.quiz-page .reponse .a, .b, .c, .d{
    padding: 3px 5px;
}
}


/*Extra small devices (portrait phones, less than 576px*/
@media (max-width: 575.98px) {
   /*page cours*/
  .mr-auto{
    margin: -5px -120px;
}

.ml-auto .nav-item{
  margin: 4px 0;
  margin-right: 30px;
  margin-left: 1px;
  margin-right: 130px;
}.navbar-light .navbar-nav .my-link{
  padding-left: 5px;
}
.ml-auto .nav-reg{
  margin-right: 0px;
}
.ml-auto .nav-log{
margin-left: -20px;
margin-right: 30px;
}
a.register, a.login{
  text-decoration: none;

  border: 1px solid #368066;
  padding: 5px 35px;
  
}a.login{
  color: #ffffff !important;
}.mybtn{
  padding: 2px 3px;
}
.mainLoginInput{
  height: auto;
  padding: 5px 0px;
  /* margin: 5px 0px; */
  margin-bottom: 5px;
  /* margin-left: 60px; */
  margin-left: -15px;
  margin-right: 130px;
}
/*page quiz*/

.quiz-desc .row{
  padding: 0 0;
  margin:  0 0;
}
.quiz-page .reponse{
  padding: 0px 5px;
    /* margin: 20px 6px; */
    margin-bottom: 0;
}
.quiz-page .reponse .a, .b, .c, .d{
    padding: 3px 5px;
}
}

 /*Small devices (landscape phones, 576px and up*/

/*Medium devices (tablets, 768px and up*/

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}