<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <title>Document</title>
</head>
<body>
  
<div ng-controller="LoginForm" ng-app="myApp">
    <div class="form-group">
      <form novalidate class="login-from">
        <label for="name">Name: <input type="text"  ng-model="user.name"> </label><br>
        <label for="name">Email: <input type="email"  ng-model="user.email"> </label>
        <p class="editor">Best Editor : <label> <input type="radio"  ng-model="user.preference" value="vs">Vs Code </label><br>
          <label> <input type="radio"  ng-model="user.preference" value="atom"> Atom</label></p>
          <input type="button" ng-click="reset()" value="Reset">
          <input type="button" ng-click="update(user)" value="Save">
      </form>
    </div>
    <pre> User = {{ user|json }} </pre>
    <pre> Master = {{ master|json }} </pre>
  </div>
  
</body>
</html>